#!/usr/bin/make -f

%:
	dh ${@}


override_dh_auto_build:
	# Build
	yarn
	yarn run electron:build
	cp build/icons/256x256.png picgo.png
	
	# Delete unused files
	rm -f node_modules/*/{CHANGELOG.md,README.md,README,readme.md,readme}
	rm -rf node_modules/.cache

