Source: netease-cloud-music-gtk
Section: sound
Priority: extra
Maintainer: YK Liu <cos.lyk@gmail.com>
Homepage: https://github.com/gmg137/netease-cloud-music-gtk
Build-Depends: debhelper (>= 9), libssl-dev, meson, libgstreamer-plugins-bad1.0-dev, desktop-file-utils

Package: netease-cloud-music-gtk
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Music player
 Music player for Netease Cloud Music based on Rust and Gtk.

