#!/usr/bin/make -f

export DH_QUIET=1

%:
	dh ${@}

override_dh_auto_clean:
	cargo clean

override_dh_auto_build:
	curl -Lo rustup-init.sh https://sh.rustup.rs
	sh rustup-init.sh -y
	cargo build --release
