Source: wiznote
Section: graphics
Priority: optional
Maintainer: leaeasy <leaeasy@slingshot.corp.linuxdeepin.com>
Build-Depends: debhelper (>= 9), cmake, qt5-default, pkg-config, qttools5-dev, qttools5-dev-tools, libcrypto++-dev, libqt5webkit5-dev, qtbase5-dev, qtbase5-private-dev, zlib1g-dev, qtwebengine5-dev, libqt5webchannel5-dev, libqt5gui5, libqt5network5, libqt5printsupport5, libqt5qml5, libqt5quick5,libqt5websockets5-dev, libqt5widgets5, libqt5xml5
Standards-Version: 3.9.5
Homepage: http://www.wiznote.com

Package: wiznote
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Cross platform cloud based note-taking application
 Cross platform cloud based note-taking application.
 .
 Please refer to WizNote home for more detailed info: http://www.wiznote.com.
