Source: chiaki
Section: games
Priority: extra
Maintainer: YK Liu <cos.lyk@gmail.com>
Build-Depends: debhelper (>= 8.0.0),
 cmake, qtbase5-dev, qtmultimedia5-dev, libqt5svg5-dev, libqt5opengl5-dev, libopus-dev, libssl-dev, libsdl2-dev, libavcodec-dev, libavutil-dev, protobuf-compiler, python3-protobuf
Standards-Version: 3.9.2
Homepage: https://github.com/thestr4ng3r/chiaki

Package: chiaki
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Free and Open Source PS4 Remote Play Client.
