Source: albert
Section: utils
Priority: extra
Maintainer: YK Liu <cos.lyk@gmail.com>
Build-Depends: debhelper (>= 8.0.0),
 cmake, libmuparser-dev, libqt5charts5-dev, libqalculate-dev, libqt5svg5-dev, libqt5x11extras5-dev, python3-dev, qtbase5-dev, qtdeclarative5-dev
Standards-Version: 3.9.2
Homepage: https://github.com/ManuelSchneid3r/albert

Package: albert
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5sql5-sqlite
Recommends: qml-module-qtgraphicaleffects, qml-module-qtquick-controls
Description: Albert Launcher
 An amazing, desktop environment agnostic omnilauncher.
