Source: motrix
Section: net
Priority: extra
Maintainer: coslyk <cos.lyk@gmail.com>
Homepage: https://github.com/agalwood/Motrix
Build-Depends: debhelper (>= 9), npm

Package: motrix
Architecture: any
Depends: electron, aria2
Description: A full-featured download manager.

