[Desktop Entry]
Name=Motrix
Comment=A full-featured download manager
Exec="motrix" %U
Terminal=false
Type=Application
Icon=motrix
StartupWMClass=Motrix
MimeType=application/x-bittorrent;x-scheme-handler/mo;x-scheme-handler/motrix;x-scheme-handler/magnet;x-scheme-handler/thunder;
Categories=Network;
