#!/usr/bin/make -f

%:
	dh ${@}


override_dh_auto_build:
	# Remove Electron bundle
	sed -i '/"electron":/d' package.json
	sed -i '/"electron-builder":/d' package.json
	sed -i '/"electron-devtools-installer":/d' package.json
	sed -i '/"electron-notarize":/d' package.json
	sed -i '/"electron-osx-sign":/d' package.json
	
	# Reduce output of webpack
	sed -i 's|webpack |webpack --display minimal |g' package.json
	sed -i 's| --progress||g' package.json
	
	# Build
	npm_config_cache=./npm_cache npm install
	npm run pack
	npm prune --production
	cp static/512x512.png motrix.png
