Source: lx-music-desktop
Section: sound
Priority: extra
Maintainer: coslyk <cos.lyk@gmail.com>
Homepage: https://github.com/lyswhut/lx-music-desktop
Build-Depends: debhelper (>= 9), npm

Package: lx-music-desktop
Architecture: any
Depends: electron
Description: Music player based on Electron and Vue.

