#!/usr/bin/make -f

export DH_QUIET=1

JAR_URL = `curl -s 'https://hmcl.huangyuhui.net/api/update_link?channel=stable&download_link=true' | jq -j .jar`

%:
	dh ${@}

override_dh_auto_build:
	curl -Lo HMCL.jar $(JAR_URL)

