#!/usr/bin/make -f

%:
	dh ${@}


override_dh_auto_build:
	# Remove Electron bundle
	sed -i '/"electron":/d' package.json
	sed -i '/"electron-builder":/d' package.json
	sed -i '/"electron-devtools-installer":/d' package.json
	
	# Reduce output of webpack
	sed -i 's|webpack |webpack --display minimal |g' package.json
	sed -i 's| --progress||g' package.json
	
	# Build
	rm -f .yarnrc
	yarn
	yarn build:electron:prod
	yarn build
	cp assets/icons/64x64.png petal.png
