#!/usr/bin/make -f
# -*- makefile -*-

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk
export DH_QUIET=1

# Glib version on Debian Bullseye
GLIB_VERSION = 2.74

%:
	dh $@

override_dh_auto_configure:
	# Valac cannot detect glib version for cross compling, set it manually
	sed -i "s|--target-glib=auto|--target-glib=$(GLIB_VERSION)|g" meson.build
	dh_auto_configure -- --buildtype=release


