Source: electron-netease-cloud-music
Section: sound
Priority: extra
Maintainer: coslyk <cos.lyk@gmail.com>
Homepage: https://github.com/Rocket1184/electron-netease-cloud-music
Build-Depends: debhelper (>= 9), curl

Package: electron-netease-cloud-music
Architecture: all
Depends: electron
Description: UNOFFICIAL client for music.163.com . Powered by Electron, Vue, and Muse-UI.

