Source: imageburner
Section: x11
Priority: optional
Maintainer: Artem Anufrij <artem.anufrij@live.de>
Build-Depends: meson,
               debhelper (>= 9),
               libgranite-dev,
               valac (>= 0.26)
Standards-Version: 3.9.3

Package: imageburner
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Simple image burner
 Simple image burner, written especially for elementary OS