Source: cocomusic
Section: sound
Priority: extra
Maintainer: coslyk <cos.lyk@gmail.com>
Homepage: https://github.com/xtuJSer/CoCoMusic
Build-Depends: debhelper (>= 9), npm, yarn, libdbus-1-dev

Package: cocomusic
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, electron
Description: A simple music player built by electron and vue.

