#!/usr/bin/make -f

export DH_QUIET=1

ifeq (##ARCH, amd64)
	ARCH_NAME = x64
endif
ifeq (##ARCH, i386)
	ARCH_NAME = ia32
endif
ifeq (##ARCH, arm64)
	ARCH_NAME = arm64
endif
ifeq (##ARCH, armhf)
	ARCH_NAME = armv7l
endif


%:
	dh ${@}

override_dh_auto_build:
	curl -Lo electron.zip "https://github.com/electron/electron/releases/download/v##VERSION/electron-v##VERSION-linux-$(ARCH_NAME).zip"
	unzip electron.zip -d electron
