#!/usr/bin/make -f

%:
	dh ${@}


override_dh_auto_build:
	install -Dm644 build/icons/12x12.png hicolor/12x12/apps/freechat.png
	install -Dm644 build/icons/16x16.png hicolor/16x16/apps/freechat.png
	install -Dm644 build/icons/32x32.png hicolor/32x32/apps/freechat.png
	install -Dm644 build/icons/48x48.png hicolor/48x48/apps/freechat.png
	install -Dm644 build/icons/64x64.png hicolor/64x64/apps/freechat.png
	install -Dm644 build/icons/128x128.png hicolor/128x128/apps/freechat.png
	install -Dm644 build/icons/256x256.png hicolor/256x256/apps/freechat.png
	install -Dm644 build/icons/512x512.png hicolor/512x512/apps/freechat.png

