#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1


ifeq (##ARCH, amd64)
    export PKG_CONFIG_PATH=/usr/lib/x86_64-linux-gnu/pkgconfig
else ifeq (##ARCH, i386)
    CROSS = i686-linux-gnu-
    export PKG_CONFIG_PATH=/usr/lib/i386-linux-gnu/pkgconfig
else ifeq (##ARCH, arm64)
    CROSS = aarch64-linux-gnu-
    export PKG_CONFIG_PATH=/usr/lib/aarch64-linux-gnu/pkgconfig
else ifeq (##ARCH, armhf)
    CROSS = arm-linux-gnueabihf-
    export PKG_CONFIG_PATH=/usr/lib/arm-linux-gnueabihf/pkgconfig
else ifeq (##ARCH, mips64el)
    CROSS = mips64el-linux-gnuabi64-
    export PKG_CONFIG_PATH=/usr/lib/mips64el-linux-gnuabi64/pkgconfig
endif

%:
	dh $@

override_dh_auto_clean:
	cd src && make clean

override_dh_auto_build:
	# Build
	cd src && make CROSS=$(CROSS) GTK3=1 deps && make CROSS=$(CROSS) GTK3=1 && make CROSS=$(CROSS) GTK3=1 curses
	
	# Download modules
	wget https://github.com/orbitalquark/textadept/releases/download/textadept_##VERSION/textadept_##VERSION.modules.zip
	unzip textadept_##VERSION.modules.zip
	mv textadept-modules/* modules/
	
	# Remove native modules on non-x86 platforms
	[ "##ARCH" = "amd64" ] || rm -rf modules/yaml modules/spellcheck modules/file_diff
	find modules -name *.dll -delete
	find modules -name *osx.so -delete

override_dh_auto_install:
	cd src && make CROSS=$(CROSS) GTK3=1 PREFIX=/usr DESTDIR=../debian/textadept install
	rm ./debian/textadept/usr/share/pixmaps/textadept*
	cd src && make curses CROSS=$(CROSS) GTK3=1 PREFIX=/usr DESTDIR=../debian/textadept install

