Source: vidbox
Section: utils
Priority: optional
Maintainer: Yikun Liu <cos.lyk@gmail.com>
Build-Depends: debhelper (>= 9), libepoxy-dev, libgtk-3-dev, libjson-glib-dev, libmpv-dev, meson, valac

Standards-Version: 3.9.6
Package: vidbox
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, ffmpeg
Pre-Depends: dpkg (>= 1.15.6)
Description: A tiny video toolbox
 VidBox is a tiny but useful tool that allows you to split, merge videos and so on.