Source: gridea
Section: text
Priority: extra
Maintainer: coslyk <cos.lyk@gmail.com>
Homepage: http://gridea.dev
Build-Depends: debhelper (>= 9)

Package: gridea
Architecture: any
Depends: electron, git
Description: 
  A static blog writing client. You can use it to record your life, mood, knowledge, notes and ideas...

