Source: marktext
Section: text
Priority: extra
Maintainer: coslyk <cos.lyk@gmail.com>
Homepage: https://marktext.app
Build-Depends: debhelper (>= 9), yarn, libx11-dev, libxkbfile-dev, libsecret-1-dev, libfontconfig-dev

Package: marktext
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, electron, ripgrep
Description: A simple and elegant markdown editor.

