Source: opentoonz
Section: graphics
Priority: extra
Maintainer: YK Liu <cos.lyk@gmail.com>
Build-Depends: debhelper (>= 8.0.0),
               cmake,
               pkg-config,
               libboost-all-dev,
               qtbase5-dev,
               libqt5svg5-dev,
               qtscript5-dev,
               qttools5-dev,
               qttools5-dev-tools,
               libqt5opengl5-dev,
               qtmultimedia5-dev,
               libsuperlu-dev,
               liblz4-dev,
               libusb-1.0-0-dev,
               liblzo2-dev,
               libpng-dev,
               libjpeg-dev,
               libglew-dev,
               freeglut3-dev,
               libfreetype6-dev,
               libjson-c-dev,
               libmypaint-dev,
               libtiff-dev
Standards-Version: 3.9.2
Homepage: https://github.com/opentoonz/opentoonz

Package: opentoonz
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5multimedia5-plugins
Description: An open-source full-featured 2D animation creation software.
