#!/usr/bin/make -f

%:
	dh ${@}


override_dh_auto_build:
	# Download submodule
	curl -Lo api.zip https://github.com/trazyn/NeteaseCloudMusicApi/archive/master.zip
	unzip api.zip
	mv NeteaseCloudMusicApi-master/* NeteaseCloudMusicApi/
	
	# Remove Electron bundle
	sed -i '/"electron":/d' package.json
	sed -i '/"electron-builder":/d' package.json
	
	# Reduce output of webpack
	sed -i 's|webpack |webpack --display minimal |g' package.json
	sed -i 's| --progress||g' package.json
	
	# Build
	npm_config_cache=./npm_cache npm install
	npm run build
	npm prune --production
	cp resource/256x256.png iease-music.png
	
	# Delete unused files
	rm -f node_modules/*/{CHANGELOG.md,README.md,README,readme.md,readme}
	rm -rf node_modules/.cache

