Source: listen1
Section: sound
Priority: extra
Maintainer: coslyk <cos.lyk@gmail.com>
Homepage: https://github.com/listen1/listen1_desktop
Build-Depends: debhelper (>= 9)

Package: listen1
Architecture: any
Depends: electron
Description: One for all free music in China.

