Source: stacer
Section: utils
Priority: optional
Maintainer: Oguzhan INAN <oguzhan3488@gmail.com>
Build-Depends: debhelper (>=9), cmake, libqt5charts5-dev, libqt5svg5-dev, qttools5-dev
Standards-Version: 3.9.6
Homepage: https://github.com/oguzhaninan/Stacer
Vcs-Browser: https://github.com/oguzhaninan/Stacer.git

Package: stacer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: systemd, curl
Description: Linux System Optimizer and Monitoring
