Source: qimgv
Section: graphics
Priority: extra
Maintainer: YK Liu <cos.lyk@gmail.com>
Build-Depends: debhelper (>= 8.0.0),
	cmake, 
	pkg-config,
	qtbase5-dev,
	libmpv-dev,
	libexiv2-dev
Standards-Version: 3.9.2
Homepage: https://github.com/easymodo/qimgv

Package: qimgv
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Image viewer with webm support
 Qt5 image viewer with optional video support.
